{{ define "main" }}
  <article class="post-detail">
    <header>
      <p class="meta">{{ .Date.Format "January 2, 2006" }}</p>
      {{ if .Title }}
      <h1>{{ .Title }}</h1>
      {{ end }}
    </header>

    <div class="content">
      {{ .Content }}
    </div>

    <div class="meta badges">
      {{ range .Params.categories }}
        {{ partial "category-badge.html" . }}
      {{ end }}

      {{ with .Params.bookmark_of }}
      <a class="bookmark-link" href="{{ . }}" rel="noopener" target="_blank">Original ↗</a>
      {{ end }}
    </div>
  </article>
{{ end }}
