{{ define "main" }}
  <article class="post-detail">
    <div class="content">
      {{ .Content }}
    </div>

    <p class="meta">{{ .Date.Format "January 2, 2006" }}</p>

    {{ if or .Title .Params.categories .Params.bookmark_of }}
    <div class="meta badges">
      {{ if .Title }}
      <p class="post-title-meta">{{ .Title }}</p>
      {{ end }}

      {{ range .Params.categories }}
        {{ partial "category-badge.html" . }}
      {{ end }}

      {{ with .Params.bookmark_of }}
      <a class="bookmark-link" href="{{ . }}" rel="noopener" target="_blank">Original ↗</a>
      {{ end }}
    </div>
    {{ end }}
  </article>
{{ end }}
